<% if @poll.errors.any? %>
<div class="alert alert-error">
  <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being updated:</h2>
  <ul>
    <% @poll.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @poll do |f| %>
  <form class="form-horizontal">
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :name, placeholder: "Name of Poll", class: "input-xxlarge" %> <%= link_to "Edit", edit_poll_question_path([@poll,@question]) %> <%= link_to "Delete" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit class: "btn btn-danger" %>
      </div>
    </div>
  </form>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Question</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @poll.questions.each_with_index do |pq,index| %>
  <tr>
    <td><span class="badge badge-info"><%= "#{index+1}" %></span></td>
    <td><%= pq.name %></td>
    <td><%= link_to "Edit", "#{@poll.url}/questions/#{pq.id}/edit" %></td>
    <td><%= link_to "Delete", "#{@poll.url}/questions/#{pq.id}/delete" %></td>
  </tr>
<% end %>
</table>