<% if @poll.errors.any? %>
<div class="alert alert-error">
  <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being updated:</h2>
  <ul>
    <% @poll.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @poll do |f| %>
  <form class="form-horizontal">
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :name, placeholder: "Name of Poll", class: "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Create Poll", class: "btn btn-danger" %>
      </div>
    </div>
  </form>
<% end %>