<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<p class="lead"><%= @poll.name %></p>
<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>Question</th>
    <th>Your Response</th>
  </tr>
  <% @poll.questions.each_with_index do |question, index| %>
    <%= form_for [question, Response.new(:question => question)] do |f| %>
  <tr>
    <td><span class="badge badge-info"><%= "#{index+1}" %></span></td>
    <td><%= question.name %></td>
    <td><%= f.text_field :response %> <%= f.submit %></td>
  </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Add New Question", new_poll_question_path(@poll) %>
<p><%= link_to "Edit Poll", "#{@poll.id}/#{@poll.url}" %></p>
<p><%= link_to "Go Home", root_path, class: "btn btn-warning" %></p>